spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/suite_admin
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    use-root-path: true
  api-docs:
    enabled: true

logging:
  level:
    org.springframework.web: debug
    org.springframework.security: debug
    org.springframework.security.oauth2: debug